.footer {
    width: 100%;
    padding: 20px 0px 10px 0px;
    color: white;
    background-color: #1b242f;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    margin-top: 40px;
  }